html {
  background-image: repeating-conic-gradient(
    rgba(255, 0, 0, 0.129) 10%,
    #aaaaaa 20%
  );
}

body {
  background-color: rgba(255, 255, 255, 0.76);
  width: 600px;
  border-radius: 25px;

  padding: 25px 150px 50px;
  font-size: large;
  margin: 25px auto;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  font-size: large;
}

.correct {
  color: green;
}
.wrong {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
